<div id="errors">
  <%= render('layouts/errors', :object => @song) %>
</div>

<%= form_for @song, remote: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
  <%= f.submit(class: "btn btn-primary") %>
<% end %>
